*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* common header design  */
.common-heading {
    text-align: center;
    padding: 0 70px;
}

.common-heading h3 {
    font-family: "Azeret Mono", monospace;
   font-size: 32px;
    font-weight: 900;
    color: #0D1321; 
    margin-bottom: 15px;
}

.common-heading p {
    font-family: "Azeret Mono", monospace;
   font-size: 16px;
    font-weight: 400;
    color: #0D1321; 
    line-height: 26px;
    text-align: justify;
}


/* navbar css start  */
#header {
    padding: 50px 150px;
}

.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.navbar > a {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    text-decoration: none;
    font-size: 28px;
}

.navbar > ul li {
    list-style-type: none;
}

.navbar > ul li a button {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #0D1321;
    opacity: 60%;
    border-radius: 8px;
    padding: 17px 24px;
    background: transparent;
    cursor: pointer;
}
/* navbar css end  */

/* hero css start  */

#hero > .hero-back-image img {
    width: 100%;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.hero-content {
    text-align: center;
}

.hero-content .text h1 {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 45px;
    font-weight: 900;
}

.hero-content .text p {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    text-align: justify;
    line-height: 26px;
}

.hero-content a button {
    font-family: "Azeret Mono", monospace;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background-color: #0D1321;
    padding: 17px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
/* hero css end  */

/* learning-development css start  */
#learning-development {
    padding: 50px 150px;
}

.development-wrapper {
    background-color: rgba(13, 19, 33, 0.1);
    border-radius: 16px;
    padding: 80px 97px;
}

.development-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 48px;
    background:  linear-gradient(to left, rgba(255,0,0,0), rgb(255, 255, 255));
    color: rgb(255, 255, 255);
    border-radius: 16px;
}

.development-content .dev-text {
    padding-right: 70px;
}

.development-content-two .dev-text {
    padding-left: 70px;
    padding-right: 0;
}

.development-content .dev-text h4 {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
}

.development-content .dev-text p {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin: 20px 0;
}

.development-content .dev-text a button {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    border: 1px solid #0D1321;
    padding: 12px 20px;
    cursor: pointer;
}

.dev-image img{
    height: 350px;
}

.development-content-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 48px;
    background:  linear-gradient(to right, rgba(255,0,0,0), rgb(255, 255, 255));
    color: rgb(255, 255, 255);
    border-radius: 16px;
}

.development-content-two .dev-text h4 {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 24px;
    font-weight: 700;
}

.development-content-two .dev-text p {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin: 20px 0;
}

.development-content-two .dev-text a button {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    border: 1px solid #0D1321;
    padding: 12px 20px;
    cursor: pointer;
}
/* learning-development css end  */

/* video section css start  */
#video-section {
    padding: 50px 150px;
}

.start-video {
    margin-top: 30px;
    border: 1px solid rgba(13, 19, 33, 0.3);
    border-radius: 16px;
    padding: 30px;
}

.start-video iframe {
    border-radius: 16px;
}
/* video section css end  */

/* skills section start  */
#skills {
    padding: 50px 150px;
}

.current-target-skills {
    display: flex;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.current-target-skills .box-one {
    padding: 40px;
    background-color: rgba(255, 75, 30, 0.2);
    border-radius: 16px;
}

.current-target-skills .box-two {
    padding: 40px;
    background-color: rgba(0, 77, 232, 0.1);
    border-radius: 16px;
}

.current-target-skills .box-three {
    padding: 40px;
    background-color: rgba(255, 221, 0, 0.1);
    border-radius: 16px;
}

.current-target-skills .box-content h4 {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 24px;
    font-weight: 900;
    margin: 14px 0;
}

.current-target-skills .box-content p {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin-bottom: 14px;
}

.current-target-skills .box-content a button {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    font-weight: 800;
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;
}

.next-target-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border: 1px solid rgba(13, 19, 33, 0.3);
    border-radius: 16px;
    margin-bottom: 20px;
}

.next-target-box-content h4 {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 24px;
    font-weight: 900;
    margin: 14px 0;
}

.next-target-box-content p {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin-bottom: 14px;
}

.next-target-box-content a button {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 16px;
    font-weight: 800;
    text-decoration: underline;
    background: transparent;
    border: none;
    cursor: pointer;
}
/* skills section end  */

/* support section start  */
#support {
    padding: 50px 150px;
}
.support-image {
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    height: 300px;
}


.support-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.support-text h4 {
    font-family: "Azeret Mono", monospace;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}

.support-text p {
    font-family: "Azeret Mono", monospace;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    line-height: 26px;
    line-height: 26px;
}

.form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.support-text input {
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    width: 548px;
    border-radius: 8px;
    padding: 18px;
    border: none;
}

.support-text button {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 20px;
    font-weight: 500;
    width: 100px;
    padding: 16px 0;
    border-radius: 8px;
    padding: 16px 0;
    border: none;
    cursor: pointer;
}
/* support section end  */

/* footer section  */
#footer {
    background-color: rgba(13, 19, 33, 0.1);
    padding: 16px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer p {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 20px;
    font-weight: 500;
}

#footer .footer-images a {
    margin-right: 15px;
}

#footer .footer-images a:last-child {
    margin-right: 0px;
}
